body {
  
  text-align: center;
background-color:#0E0E0E;
font-family: semplicitapro,sans-serif;
font-weight: 200;
font-style: normal;
 
   }


* { color:rgba(16, 139, 11, 0.815); text-decoration: none ;
}


.typewrite{

  font-size: 60px;
  text-align: center;
  position:fixed;

bottom: 20%;
transform: translate(-50%, -50%);
color:white;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(221, 221, 221, 0);
  color: rgba(16, 139, 11, 0.815);
}

/* Add an active class to highlight the current page */
.topnav a.active {
    display: inline-block;
  background-color: #04aa6d00;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
  top: 10%;
}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
  position:sticky;
  right: 0;
  top: 10%;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: right;
}
}
h3{
color: rgba(0, 0, 255, 0);
width: 100%;
bottom: 0;
position: fixed;
left: 0;
height: 50px;
}
footer{
width: 100%;
bottom: 0;
position: fixed;
display: block;
left: 0;
height: 50px;
font-size: 70%;

}
/* Dropdown Button */
.btn {
  background-color: #ffffff00;
  color: white;
  padding: 16px;
  
  border: none;
  outline: none;
  font-size: 40px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
border-radius: 10%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f100;
  min-width: 160px;
  z-index: 1;
  left: 10%;
}

/* Links inside the dropdown */
.dropdown-content a {
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover, .dropdown:hover .btn  {
  background-color: #34da0b48;
}


h1{
  font-weight: 200px;
  text-shadow:rgba(16, 139, 11, 0.815) 0 12px 15px;
}



.text{

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}