
body{
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    
}

h1{
    
  font-size: 60px;
  text-align: center;
}

h4{
  font-size: 60px;
  text-align: center;
}
h5{
  font-size: px;
  text-align: center;
}

button{
   
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0x;
    border: 1px ;
  
    background-color: rgba(255, 255, 255, 0);
   
    
}


.center {
  display: flex;
  position: fixed;
  
 
 
}

  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding:unset;
   
   
  }
   /* Style the buttons that are used to open the tab content */
   .tab button {
    background-color: rgba(0, 0, 139, 0);
    margin: 0;
    outline:none;  

    
  
  }
  
  /* Change background color of buttons on hover */
 
  
  /* Create an active/current tablink class */
  
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding:unset;
   
   
  }
  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
 

  .oneimg{
  display: inline-block;
    margin: 0 10%;
    width: 100%;
  }

  .oneimg img{
    float: left;
  }

  .twoimg{
    display: inline-block;
    margin: 5 0%;
    width: 100%;
    text-align: right;

  
  }

  .twoimg img{
    float: right;
  }
  .threeimg{
    display: inline-block;
    margin: 0 10%;
    width: 100%;

  }
  .threeimg img{
    float: left;

  }
  .fimg{
    display: inline-block;
    margin: 5 0%;
    width: 100%;
    text-align: right;

  }
  .fimg img{

    float: right;
  }
  .favimg{

    display: inline-block;
    margin: 0 10%;
    width: 100%;
  }
  .favimg img{
    float: left;

  }

  .siimg{
    display: inline-block;
    margin: 5 0%;
    width: 100%;
    text-align: right;
  }
  .siimg img{

    float: right;
  }

  .savimg{
    display: inline-block;
    margin: 0 10%;
    width: 100%;
  }
  .savimg img{
    float: left;

  }

  .ateimg{
    display: inline-block;
    margin: 5 0%;
    width: 100%;
    text-align: right;
  }
  .ateimg img{
    float: right;
  }