* {
    box-sizing: border-box;
    background-color: #0E0E0E;
  }


  h1{
  }
  p{
    color: rgba(16, 139, 11, 0.815);
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
   background-color: white;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: horizontal;
  }

  
  input[type=submit] {
    background-color: #ffffff00;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgba(16, 139, 11, 0.815);
    
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #00000000;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    text-align:start;
    position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
  }
  .collm{
    position: fixed;
    width: 20%;
   display: inline;
   top: 39%;
  left: 39%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  padding: 30px;
    border-radius: 10px;
    
}
  .cmmlo{
    position: fixed;
    width: 20%;
    padding: 30px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    top: 39%;
  left: 60%;
  right: 30%;
   display: inline;
   margin-left: 1%;
   color: rgb(255, 255, 255);
   
 
  }

  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }